h2 {
    color: white;
}

body {
    margin: 0;
    background-color: rgb(34, 34, 34);
    height: 100%;
    width: 100%;
}

iframe#topBar {
    width: 100%;
    height: 200px;
}

div.outerContainer {
    margin: 50px;
    border-radius: 50px;
    background-color: black;
    display: flex;
}

div.innerContainer {
    margin: 50px;
    display: flex;
    flex-direction: column;
}

div.innerContainer > h1 {
    margin-top: auto;
}

div#forum {
    margin: 25px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    padding: 50px;
    align-items: center;
}

div#forum > * {
    margin: 25px;
    user-select: none;
}

div#forum > p {
    font-size: 100px;
    font-weight: bold;
}

div#forum > img {
    height: 100px;
}