body {
    margin: 0;
    background-color: rgb(34, 34, 34);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    color: red;
}

#topBar {
    position: relative;
    display: inline-flex;
    background: #868686;
    width: calc(100% - 50px);
    margin: 25px 25px 0px 25px;
    border-radius: 10px;
}

#topBar > * {
    padding: 10px;
}

div.outerContainer {
    overflow: auto;
    margin: 50px;
    background-color: black;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
}

div.messagesContainer {
    margin: 50px;
    border-radius: 50px;
    background-color: #6244a8;
    flex-shrink: 1;
    flex-grow: 1;
    overflow: auto;
    display: flex;
}

div.scrollBarContainer {
    overflow: auto;
    margin: 25px;
    width: 100%;
}

div#messages > * {
    margin: 25px auto auto auto;
    min-width: 25%;
    max-width: 75%;
    min-height: 100px;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
}

div#sendBox {
    margin: 50px;
    border-radius: 25px;
    max-height: 50%;
    background-color: #8f1212;
    display: flex;
    align-items: center;
}

div#messageInput {
    margin: 50px;
    max-height: calc(100% - 100px);
    overflow: scroll;
    outline: none;
    width: 100%;
    font-size: 30px;
}

div#sendButton {
    margin: 50px;
    width: 75px;
    height: 75px;
    background-color: rgb(97, 97, 97);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

div#sendButton > svg {
    height: 50px;
}

div#addButton {
    margin: 25px;
    height: 75px;
    width: 75px;
    background-color: rgb(97, 97, 97);
    border-radius: 100px;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

div#addButton > svg {
    height: 50px;
}