body {
    margin: 0;
    background-color: rgb(34, 34, 34);
    height: 100%;
    width: 100%;
}

iframe#topBar {
    width: 100%;
    height: 200px;
}

div#outerContainer {
    width: 100%;
}

div.innerContainer {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    overflow: auto;
    margin: 50px;
    background-color: black;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
}

div.messagesContainer {
    margin: 50px;
    border-radius: 50px;
    background-color: #6244a8;
    flex-shrink: 1;
    flex-grow: 1;
    overflow: auto;
    display: flex;
}

div.scrollBarContainer {
    overflow: auto;
    margin: 25px;
    width: 100%;
}

div#messages > * {
    margin: 25px auto auto auto;
    min-width: 25%;
    max-width: 75%;
    min-height: 100px;
    border-radius: 25px;
    white-space: pre-wrap;

    display: flex;
    flex-direction: column;
}

div#sendBox {
    user-select: none;

    margin: 50px;
    border-radius: 25px;
    max-height: 50%;
    background-color: #8f1212;
    display: flex;
    align-items: center;
}

div#messageInput {
    margin: 10px;
    max-height: calc(100% - 100px);
    overflow: scroll;
    outline: none;
    min-height: calc(100% - 20px);
    width: 100%;
    font-size: 30px;
    white-space: pre;
}

div#sendButton {
    margin: 10px;
    width: 75px;
    height: 75px;
    background-color: rgb(97, 97, 97);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

div#sendButton > svg {
    height: 50px;
}