body {
    margin: 0;
}

h1 {
    color: red;
}

#asd {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(163, 163, 163, 1) 50%, rgba(163, 163, 163, 1) 100%);
    width: 100%;
    margin: 0;
    margin-bottom: 50px;
}

#dsa {
    display: inline-flex;
}

#dsa > * {
    padding: 10px;
}

#content {
    width: 100%;
    height: 100%;
    padding: 25px;
    background-color: gold;
    border-radius: 10px;
}