body {
    background-color: rgb(34, 34, 34);
    margin: 0px;
}

div.contentContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.box {
    width: 300px;
    background-color: black;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    grid-row: 1;
}

h2#serverText {
    color: white;
    text-align: center;
}

div.textContainer {
    margin: 50px;
}

input#serverInput {
    height: 30px;
    font-size: large;
}

h2#successText {
    color: red;
    text-align: center;
}

div#setButton {
    margin: 50px;
    height: 50px;
    font-size: large;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

h1#title {
    text-align: center;
}

iframe#topBar {
    width: 100%;
    height: 155.5px;
}

iframe#footer {
    width: 100%;
    height: 514.7px;
}